flake8==3.8.4
pytest==6.1.2
pytest-cov==2.10.1

fastapi==0.61.2
uvicorn[standard]==0.12.3
gunicorn==20.0.4
loguru==0.5.3
sqlalchemy==1.3.20
async-exit-stack==1.0.1
async-generator==1.10
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.2.0
python-multipart==0.0.5
python-dotenv==0.15.0
