flake8==6.0.0
pytest==7.2.0
pytest-cov==4.0.0

fastapi==0.87.0
uvicorn[standard]==0.20.0
gunicorn==20.1.0
loguru==0.6.0

async-exit-stack==1.0.1
async-generator==1.10
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
python-multipart==0.0.5
python-dotenv==0.21.0

# databases
sqlalchemy==1.4.41
databases==0.6.2
aiosqlite==0.17.0
asyncpg==0.27.0
psycopg2==2.9.5
